<title>My application</title>
     -Enter the numbers for which you want to calculate the standard deviation(each number must be on a separate line), then enter two numbers to set the range.<br>
     The program will return true if the standard deviation is within the range you have given, otherwise it will return false.<br>

  <form action="compute" method="post">
        -Enter numbers that you want to calculate the standard deviation <br>
        <textarea name="input1" rows="10" cols="30"></textarea><br>
        -Enter the first number.<br>
        <textarea name="input2" rows="10" cols="30"></textarea> <br>
        -Enter the second number.<br>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
  Standart Deviation is {{standartDev}} <br>
  Result is {{result}}
